.formRight{
  width: 50%;
  padding: 1rem;
  float: left;
  display: flex;
  flex-direction: column;
}

.checkbox .input__field{
  margin: 1rem;
}

.checkbox .input__label{
  position: relative;
  display: inline;
  font-size: 1rem;
}

.formLeft{
  width: 50%;
  padding: 1rem;
  float: right;
  display: flex;
  flex-direction: column;
}

.timeContainer{
  display: flex;
  justify-content: space-between;
}

.btn-holder{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}