.home-main  {
    display: flex;
    flex-direction: column;    
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: clamp(2rem, 2vw, 6rem);
    column-gap: clamp(2rem, 4vw, 8rem);
    padding: 2rem 0px;
}

.pageControls .left-controls{
    float: left;
}

.pageControls .right-controls{
    float: right;
    margin: 3.5px;
}