.home-main  {
    display: flex;
    flex-direction: column;
    padding: 0px; 
    overflow-y: scroll;
    height: 100%;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: clamp(2rem, 2vw, 6rem);
    column-gap: clamp(2rem, 5vw, 8rem);
    padding: 2rem 0px;
}

.pageControls .right-controls{
    display: flex;
    margin: 3.5px;
    width:max-content;
}

.pageControls{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}