.main-container{
    background-color: #F5FCFF;
    margin: 10px 20px ; 
    padding: 20px;
    box-shadow: 0 0 20px 4px #00000010;
}

.page-controls {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.table-container{
    max-height: 70vh;
    /* height: max-content; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.css-13cymwt-control{
    height: 3rem;
}

.modal-body .btn-container {
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
    width: max-content;
}

.modal.show .modal-dialog {
    width: max-content;
}

ul{
    list-style-type: none;
    padding:1rem;
}

.headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.css-13cymwt-control{
    /* margin-top: 0.5rem; */
    /* height: 3rem;
    overflow-y: scroll; */
    min-height: 3rem;
    height: fit-content;
    font-size: 1rem;
    border: none;
    padding: 2px 0px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .2);
}

.css-13cymwt-control:focus{
    height: 3rem;
    font-weight: 500;
    border-width: 2px;
    border: 2px solid rgba(29, 78, 216, 0.5);
    box-shadow: none;
  }

.css-13cymwt-control:hover{
    outline: 2px solid #AAAAAA;
    box-shadow: none;
}


